{% extends 'main/layout.html' %}
{% block title %}Питание{% endblock %}
{% block content %}
  <div class="relative flex size-full min-h-screen flex-col bg-[#101a23] dark justify-between group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
    <div>
      <div class="flex items-center bg-[#101a23] p-4 pb-2 justify-between">
        <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pl-12 pr-12">Питание</h2>
      </div>
      <div class="nutrition_txt flex flex-wrap gap-4 p-4">
        <div onclick="window.location.href='{% url 'todays_meals' %}'" class="transition duration-250 hover:bg-[#1b2d3d] focus:bg-[#1b2d3d] flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#223749] cursor-pointer">
          <p class="text-white text-base font-medium leading-normal">Потребление кКал</p>
          <p class="text-white tracking-light text-2xl font-bold leading-tight">{{ totals.total_calories }}</p>
        </div>
        <div class="transition duration-250 hover:bg-[#1b2d3d] focus:bg-[#1b2d3d] flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#223749] cursor-pointer goal-button">
          <p class="text-white text-base font-medium leading-normal">Текущая цель</p>
          <p class="text-white tracking-light text-2xl font-bold leading-tight">{{ calorie_goal }}</p>
        </div>
        <style>
          @media (max-width:480px) {
            .nutrition_txt p{
              font-size: 14px;
            }
          }
          @media (max-width:380px) {
            .nutrition_txt p{
              font-size: 12px;
            }
          }
        </style>
      </div>
      <div id="calorieGoalModal" class="fixed inset-0 z-50 hidden justify-center items-center bg-black bg-opacity-50">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm mx-auto">
          <h3 class="text-xl font-bold mb-4">Установите новую цель</h3>
          <form id="calorieGoalForm" method="post" action="{% url 'set_calorie_goal' %}">
            {% csrf_token %}
            <div class="mb-4">
              <label for="calorieGoal" class="block text-gray-700">Желаемая цель по калориям:</label>
              <input type="number" id="calorieGoal" name="calorie_goal" class="w-full p-2 border rounded" step="0.1" required>
            </div>
            <div class="flex justify-between">
              <button type="submit" class="bg-blue-500 text-white p-2 rounded">Сохранить</button>
              <button type="button" id="closeModal" class="bg-gray-300 p-2 rounded">Отмена</button>
            </div>
          </form>
        </div>
      </div>
      <div class="nutrition_canvas">
        <h2 class="nutrition_canvas_title">Баланс макронутриентов</h2>
        <canvas id="macronutrientsChart"></canvas>
      </div>
      <style>
        @media (min-width:480px) {
        .nutrition_canvas{
          display: flex;
          flex-direction: column;
          padding: 4px 4px 24px 4px;
          align-items: center;
        }
        .nutrition_canvas_title{
          left: 0;
          color: white;
          font-size: 22px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        .nutrition_canvas canvas{
          max-width: 500px;
          max-height: 500px;
        }
        }

        @media (max-width:480px) {
          .nutrition_canvas{
          display: flex;
          flex-direction: column;
          padding: 4px 4px 14px 14px;
        }
        .nutrition_canvas_title{
          color: white;
          font-size: 18px;
          font-weight: bold;
          padding-bottom: 5px;
        }
        }

      </style>

      <div class="p-4">
        <a href="{% url 'add_meal' %}" class="block text-center bg-[#1979e6] text-white py-2 px-4 rounded-lg shadow-md hover:bg-[#315a65] transition duration-300">
          Добавить новое блюдо
        </a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const openModalButton = document.querySelector('.goal-button'); // Выберите кнопку для открытия модального окна
        const modal = document.getElementById('calorieGoalModal');
        const closeModalButton = document.getElementById('closeModal');
    
        if (openModalButton) {
          openModalButton.addEventListener('click', function() {
            modal.classList.remove('hidden');
          });
        }
    
        if (closeModalButton) {
          closeModalButton.addEventListener('click', function() {
            modal.classList.add('hidden');
          });
        }
      });
    </script>
    <script>
      const ctx = document.getElementById('macronutrientsChart').getContext('2d');
  
      // Подставляем значения с проверкой на пустые значения и преобразуем их в числа
      const totalCarbs = parseFloat('{{ totals.total_carbs|default:"0" }}');
      const totalProtein = parseFloat('{{ totals.total_protein|default:"0" }}');
      const totalFat = parseFloat('{{ totals.total_fat|default:"0" }}');
  
      // Рассчитаем общую сумму для процентов
      const total = totalCarbs + totalProtein + totalFat;
  
      const data = {
        labels: ['Углеводы', 'Белки', 'Жиры'],
        datasets: [{
          data: [totalCarbs, totalProtein, totalFat], // Передаем сырые данные
          backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
          borderColor: ['#FF6384', '#36A2EB', '#FFCE56'],
          borderWidth: 1
        }]
      };
  
      const config = {
        type: 'doughnut',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            tooltip: {
              callbacks: {
                label: function(tooltipItem) {
                  // Выводим фактическое значение
                  return `${tooltipItem.label}: ${tooltipItem.raw} г`; // Выводим количество граммов
                }
              }
            }
          }
        }
      };
  
      new Chart(ctx, config);

  </script>
  
{% endblock %}
