<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Общие показатели</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#131416] dark justify-between group/design-root overflow-x-hidden"
      style='font-family: Manrope, "Noto Sans", sans-serif;'
    >
      <div>
        <div class="flex items-center bg-[#131416] p-4 pb-2 justify-between">
          <div onclick="window.location.href='{% url 'tracking' %}'" class="text-white flex size-12 shrink-0 items-center" data-icon="X" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
              ></path>
            </svg>
          </div>
          <h1 style="margin-left: -8vw" class="text-white text-[20px] font-bold leading-tight tracking-[-0.015em] px-4 text-center pb-3 pt-5">Укажите необходимые параметры</h1>
        </div>
        <p style="margin-top: -2vh" class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">
          Данные используются для отслеживания прогресса
        </p>


        <form method="POST">
            {% csrf_token %}
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-white text-base font-medium leading-normal pb-2">Вес</p>
                    <input
                        name="weight"
                        placeholder="кг"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2d3134] focus:border-none h-14 placeholder:text-[#a5abb1] p-4 text-base font-normal leading-normal"
                    />
                </label>
            </div>
        
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-white text-base font-medium leading-normal pb-2">Рост</p>
                    <input
                        name="height"
                        placeholder="см"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2d3134] focus:border-none h-14 placeholder:text-[#a5abb1] p-4 text-base font-normal leading-normal"
                    />
                </label>
            </div>
        
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-white text-base font-medium leading-normal pb-2">Процент жира</p>
                    <input
                        name="bodyfat"
                        placeholder="%"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2d3134] focus:border-none h-14 placeholder:text-[#a5abb1] p-4 text-base font-normal leading-normal"
                    />
                </label>
            </div>
        
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-white text-base font-medium leading-normal pb-2">Окружность талии</p>
                    <input
                        name="waist"
                        placeholder="см"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2d3134] focus:border-none h-14 placeholder:text-[#a5abb1] p-4 text-base font-normal leading-normal"
                    />
                </label>
            </div>
        
            <div class="flex px-4 py-3">
                <button type="submit"
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#30608a] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                    <span class="truncate">Записать</span>
                </button>
            </div>
        </form>
        
      </div>
      <div>
        <div class="h-5 bg-[#131416]"></div>
      </div>
    </div>
  </body>
</html>
